
.Portada
 {
    top: 0;
    height: 400px;
    width: 1200px;      
    padding: 0px 35px;
}  

 .image-text {
    position: absolute;
    top: 10%;
    left: 77%;
    transform: translate(-20%, -80%);
    z-index: 1;
    color: black;
    font-size: 33px;
    font-weight: bold;
  }

  .image-text2 {
    position: absolute;
    top: 16%;
    left: 65%;    
    transform: translate(-20%, -80%);
    z-index: 1;
    color: black;
    font-size: 20px;
  }

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {  
    width: 200px;
    height: 200px;
    margin-right: 300px;
    

}
footer{
    background-color: rgb(69, 152, 158);
    text-align: center;

}
